<?php
    include(COMMON_PATH."header.php");
?>
<main class="chat-room-wrapper">

    <!-- CHAT USER LIST -->
    <section class="user-list-wrapper" id="userListWrapper">
        <form name="searchUserForm" method="POST">
            <div class="field-wrap user-list-search-box">
                <input type="text" name="searchUserName" placeholder="Search user" autocomplete="off" id="userListSearchBox" onkeyup="searchUserAction()">
                <button type="submit"><i class="material-icons">search</i></button>
            </div>

            <!-- USER LIST -->
            <ul class="user-list-items">
                <li class="user-list-item user-item"><span></span> Dhananjay</li>
                <li class="user-list-item user-item"><span></span> Ganesh</li>
                <li class="user-list-item user-item"><span></span> Shivaji</li>
                <li class="user-list-item user-item"><span></span> Sujit</li>
                <li class="user-list-item user-item"><span></span> Prateek</li>
            </ul>
        </form>
    </section>


    <!-- CHAT BOX -->
    <section class="chat-box-wrapper" id="chatBoxWrapper">
        <form>
            <!-- CHAT HISTORY -->
            <div class="chat-history-box" id="chatHistoryBox">
                <!-- SINGLE CHAT BOX -->
                <div class="chat-box mine-chat" data-user="MY">
                    <span></span>
                    <div>Hi from me</div>
                </div>
                <!-- SINGLE CHAT BOX -->
                <div class="chat-box their-chat" data-user="you">
                    <span></span>
                    <div>Hi from u</div>
                </div>

                <!-- SINGLE CHAT BOX -->
                <div class="chat-box mine-chat" data-user="my">
                    <span></span>
                    <div>This just a dummy text with some long text</div>
                </div>

                <!-- SINGLE CHAT BOX -->
                <div class="chat-box their-chat" data-user="you">
                    <span></span>
                    <div>ok</div>
                </div>

            </div>

            <!-- CHAT TEXTBOX -->
            <div class="chat-text-input" id="chatTextInput">
                <div class="field-wrap user-list-search-box">
                    <textarea placeholder="Type message" rows="4"></textarea>
                    <button>
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </form>
    </section>

</main>
<?php
    include(COMMON_PATH."footer.php");
?>