@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  
html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    flex: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(49, 49, 49);
    background-color: #F3F2F1;
    display: flex;
    flex-direction: column;
}

body>*,
header>*,
.chat-room-wrapper form,
.chat-room-wrapper form > *,
.chat-box-wrapper > * {
    flex: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-wt-300 {
    font-weight: 300;
}

strong,
b,
.font-wt-500 {
    font-weight: 500;
}

a {
    color: #330260;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: #330260;
}

header,
footer,
.logo,
.chat-text-input {
    flex: none;
}

header {
    background-color: #330260;
    height: 50px;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.logo {
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li {
    color: #fff;
    padding: 0 20px;
    border-left: 1px solid #643a8a;
}

nav li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

.user-logged {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-sign-out {
    padding: 0;
    font-size: 0.75rem;
    line-height: 15px;
    color: #ffc0cb;
}

main, main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    width: 260px;
}

.field-wrap {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    background-color: #330260;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}


.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
}

textarea {
    width: 100%;
}

.chat-room-wrapper,
.chat-room-wrapper form {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.user-list-wrapper {
    max-width: 250px;
    background-color: #fff;
    border-right: 1px solid #ece1d8;
}

.user-list-search-box {
    padding: 1px;
    flex-direction: row;
}

.user-list-search-box button {
    margin-left: 0;
}

.user-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list-items li a {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9375rem;
}

.user-list-items li a:hover {
    background-color: #330260;
    color: #fff;
}
.user-list-items li span {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #d7c3ea;
    background-color: #fff;
    margin-right: 10px;
}

.user-list-items li a:hover span {
    border-color: #ffc0cb;
}

.chat-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.chat-text-input {
    padding: 20px 20px 0;
}

.chat-history-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 20px;
}


/*  */
footer {
    background-color: rgb(230, 230, 230);
    border-top: 1px solid #ece1d8;
    height: 20px;
    padding: 10px;
    color: #000;
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 20px;
}

/* MEDIAQUERIES */
@media(max-width: 991px) {
    .user-list-wrapper {
        display: none;
    }
}